asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
crispy-bootstrap5==0.6
cryptography==36.0.1
defusedxml==0.7.1
Deprecated==1.2.13
dj-database-url==0.5.0
Django==4.0.2
django-allauth==0.49.0
django-bootstrap-v5==1.0.11
django-cors-headers==3.11.0
django-cors-middleware==1.5.0
django-crispy-forms==1.14.0
django-datetimepicker==3.14
django-oauth-toolkit==1.7.0
django-on-heroku==1.1.2
django-friendship==0.8.0
Faker==13.3.4
gunicorn==20.1.0
idna==3.3
jwcrypto==1.0
oauthlib==3.2.0
psycopg2-binary==2.9.3
pycparser==2.21
PyJWT==2.3.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python3-openid==3.2.0
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
twilio==7.8.1
urllib3==1.26.8
whitenoise==6.0.0
wrapt==1.14.0
