Django==4.0.2
django-bootstrap-v5==1.0.11
django-on-heroku==1.1.2
gunicorn==20.1.0
sqlparse==0.4.2
whitenoise==6.0.0
django-allauth==0.49.0
django-oauth-toolkit==1.7.0
twilio==7.8.1
python-dotenv==0.20.0
Faker==13.3.4