{# Load the tag library #}
{% load bootstrap5 %}

{# Load crispy forms to get better looking input spacing #}
{% load crispy_forms_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>

<ul>
    <li><a href="{% url 'studyapp:all_rooms' %}">Home</a></li>
    <li><a href="{% url 'studyapp:browse-meetings' %}">Browse Meetings</a></li>
    <li><a class="active" href="{% url 'studyapp:create-meetings' %}">Create Meetings</a></li>
    <li><a href="{% url 'studyapp:courses' %}">Courses</a></li>
    <li><a href="{% url 'studyapp:map' %}">Map</a></li>
    <li style="float:right"><a href="{% url 'studyapp:profile' %}">Profile</a></li>
    {# <li style="float:right"><a href="{% url 'logout' %}">Logout</a></li> #}
</ul>
</body>


<div class="p-3 mb-2 bg-dark text-white">
    <figure class="text-center">
        <h1>{{ 'Make a meeting!'  }}</h1>
    </figure>
{% block content %}
    <form method='POST'>
        {% csrf_token %}
        {{ form|crispy}}
        <a href="/browse-meetings/" class="btn btn-secondary btn-lg" role="button">Take me to browse meetings</a>
        <button type="submit" class="btn btn-primary btn-lg btn-light">Create</button>
        <!-- href="{% url 'studyapp:meeting-successful' %}" -->
        <!-- <a href="{'polls:deepthoughts:list'}">Looking for the list of thoughts?</a> -->
    </form>
</div>
{% endblock %}

<footer class="fixed-bottom bg-light text-center text-lg-start" id="footer">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © StudyBuddy 2022
  </div>
  <!-- Copyright -->
</footer>
