<!--http://localhost:8000/accounts/google/login/-->
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% if latest_reply_list %}
    <ul>
    {% for meeting in latest_reply_list %}
        <li><a href="{% url 'studyapp:detail' meeting.id %}">{{ meeting.post_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No meetings are available.</p>
{% endif %}
